#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;  
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Page Background */
.page {
  min-height: 100vh;
  background: linear-gradient(120deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Card */
.card {
  background: #fbfbfb;
  width: 100%;
  max-width: 1000px;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

/* Status Messages */
.status {
  text-align: center;
  color: #aa6161;
}

.error {
  text-align: center;
  color: rgb(206, 78, 78);
}

/* Table */
.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

thead {
  background-color: #667eea;
  color: rgb(9, 8, 8);
  position: sticky;
  top: 0;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #000000;
  transition: background 0.2s ease;
}

tbody tr:hover {
  background-color: #869bdf;
}

.name {
  font-weight: 600;
  color: #0e0909;
}

/* Responsive */
@media (max-width: 768px) {
  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 10px;
  }
}
.page {
  min-height: 100vh;
  background: linear-gradient(120deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  padding: 30px;
}

.card {
  background: rgb(244, 242, 242);
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 1100px;
}

h2 {
  text-align: center;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  padding: 8px;
  flex: 1;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.edit {
  background: #ffc107;
  margin-right: 5px;
}

.delete {
  background: #dc3545;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  background: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.person-name {
  font-weight: bold;
  color: #000;
}
